@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 302 100% 95%;
    --foreground: 302 5% 2%;
    --card: 302 50% 90%;
    --card-foreground: 302 5% 10%;
    --popover: 302 100% 95%;
    --popover-foreground: 302 100% 2%;
    --primary: 302 27.9% 23.9%;
    --primary-foreground: 0 0% 100%;
    --secondary: 302 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 264 30% 85%;
    --muted-foreground: 302 5% 35%;
    --accent: 264 30% 80%;
    --accent-foreground: 302 5% 10%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 302 5% 90%;
    --border: 302 30% 50%;
    --input: 302 30% 18%;
    --ring: 302 27.9% 23.9%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 302 50% 5%;
    --foreground: 302 5% 90%;
    --card: 302 50% 2%;
    --card-foreground: 302 5% 90%;
    --popover: 302 50% 5%;
    --popover-foreground: 302 5% 90%;
    --primary: 302 27.9% 23.9%;
    --primary-foreground: 0 0% 100%;
    --secondary: 302 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 264 30% 15%;
    --muted-foreground: 302 5% 60%;
    --accent: 264 30% 15%;
    --accent-foreground: 302 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 302 5% 90%;
    --border: 302 30% 18%;
    --input: 302 30% 18%;
    --ring: 302 27.9% 23.9%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
